.header {
  .principal-title {
    background-color: #550901;
    display: flex;
    justify-content: center;
    .title-image {
      margin-top: 5rem;
      margin-bottom: 5rem;
      width: 50%;
    }
  }
}
